<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="/layouts/home.xhtml">
        <ui:define name="title">Конвертер аудио</ui:define> 
        <ui:define name="content">

            <div class="ui-g-12 ui-md-8 ui-lg-8">
                

            </div>             

        </ui:define> 
    </ui:composition>    
</html>    
