<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition>
            <h:form id="audioconverter">  
                <p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true" />  
                <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                    <div class="ui-g-12 ui-md-4 ui-lg-4 centered"><h:graphicImage library="images" alt="конвертировать из #{from}" title="конвертировать из #{from}" name="#{from}.png" /></div>  
                    <div class="ui-g-12 ui-md-4 ui-lg-4 centered"><h:graphicImage library="images" name="arrows.png"/></div>    
                    <div class="ui-g-12 ui-md-4 ui-lg-4 centered"><h:graphicImage library="images" alt="конвертировать в #{to}"  title="конвертировать в #{to}" name="#{to}.png"/></div>   
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                    <p:panel id="main" header="Конвертер из #{from} в #{to} онлайн" >
                        <p:fileUpload style="padding-top: 15px;padding-bottom: 15px;"
                                      fileLimit="10"
                                      invalidSizeMessage="Размер файла не должен превышать 200 Мб"
                                      fileLimitMessage="Возможно конвертировать не более 10 файлов за раз" 
                                      invalidFileMessage="Неверный формат входного файла."
                                      allowTypes="#{allow}"
                                      fileUploadListener="#{audioFilesBean.handleFileUpload}"
                                      mode="advanced"
                                      auto="true" 
                                      update="one" 
                                      multiple="true" 
                                      disabled="#{audioFilesBean.state}"
                                      dragDropSupport="true"
                                      label="Выбрать файлы"
                                      id="uploader"
                                      />
                        <p:panel id="one" >
                            <p:dataTable emptyMessage="Нет загруженных файлов." id="files"  var="file" rendered="#{audioFilesBean.files.size()!=0}" value="#{audioFilesBean.files}" >
                                <p:column headerText="Загруженные файлы"  sortBy="#{file.name}">
                                    <h:outputText value="#{file.name}" />
                                </p:column>
                                <f:facet name="footer">
                                    Всего #{audioFilesBean.files.size()} файлов.
                                </f:facet>
                            </p:dataTable>
                            <ui:insert name="props" >
                                <ui:include  src="/layouts/#{to}.xhtml" />
                            </ui:insert>
                            <p:commandButton value="Конвертировать" id="convert" disabled="#{audioFilesBean.files.size()==0}"   update="one uploader" styleClass="ui-priority-primary">
                                <f:actionListener binding="#{audioFilesBean.convert(from, to)}"  />
                                <f:actionListener binding="#{audioFilesBean.compressFiles()}" />
                                <f:actionListener binding="#{audioFilesBean.files.clear()}"  />
                                <f:setPropertyActionListener  target="#{audioFilesBean.state}" value="true"/>
                            </p:commandButton>
                            <p:blockUI block="main" trigger="convert"  >
                                <p:graphicImage library="images" name="ajaxloadingbar.gif"/>
                            </p:blockUI>
                            <p:commandButton value="Скачать" id="download" ajax="false" styleClass="ui-priority-primary" rendered="#{audioFilesBean.state}" icon="ui-icon-arrowthick-1-s">
                                <p:fileDownload value="#{audioFilesBean.archive}" />
                            </p:commandButton>

                            <p:commandButton value="Конвертировать еще раз!" rendered="#{audioFilesBean.state}" actionListener="#{audioFilesBean.reset()}" update="audioconverter"  />
                        </p:panel>
                        <p class="centered"><h:outputText value="Размер файла не должен превышать 200 Мб, возможное количество конвертируемых файлов за один раз = 10."/></p>
                    </p:panel>
                </div>
            </h:form>
        </ui:composition>
    </body>
</html>
