<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition>
            <h:form id="menuForma">  

                <p:panelMenu  >  
                    <p:submenu label="Основное">
                        <p:menuitem value="На главную" outcome="index" onclick="#{audioFilesBean.reset()}" ajax="false"  />
                        <p:menuitem value="Контакты"  outcome="support" onclick="#{audioFilesBean.reset()}" ajax="false"/>
                    </p:submenu>
                    <p:submenu label="Конвертировать wav">
                        <p:menuitem value="wav в mp3"  outcome="wavtomp3" onclick="#{audioFilesBean.reset()}"  ajax="false" />
                        <p:menuitem value="wav в flac" outcome="wavtoflac" onclick="#{audioFilesBean.reset()}" ajax="false" />
                        <p:menuitem value="wav в m4a"  outcome="wavtom4a" onclick="#{audioFilesBean.reset()}" ajax="false" />
                        <p:menuitem value="wav в m4r (iPhone)"  outcome="wavtom4r" onclick="#{audioFilesBean.reset()}"  ajax="false" />
                    </p:submenu>
                    <p:submenu label="Конвертировать flac">
                        <p:menuitem value="flac в mp3"  outcome="flactomp3" onclick="#{audioFilesBean.reset()}" ajax="false" />
                        <p:menuitem value="flac в wav"  outcome="flactowav" onclick="#{audioFilesBean.reset()}" ajax="false" />
                        <p:menuitem value="flac в m4a"  outcome="flactom4a" onclick="#{audioFilesBean.reset()}" ajax="false" />
                        <p:menuitem value="flac в m4r (iPhone)"  outcome="flactom4r" onclick="#{audioFilesBean.reset()}" ajax="false"/>
                    </p:submenu> 
                    <p:submenu label="Конвертировать m4a">
                        <p:menuitem value="m4a в mp3"  outcome="m4atomp3" onclick="#{audioFilesBean.reset()}" ajax="false"/>
                    </p:submenu>
                    <p:submenu label="Конвертировать mp3">
                        <p:menuitem value="mp3 в m4a"  outcome="mp3tom4a" onclick="#{audioFilesBean.reset()}" ajax="false" />
                        <p:menuitem value="mp3 в m4r"  outcome="mp3tom4r" onclick="#{audioFilesBean.reset()}" ajax="false" />
                    </p:submenu>
                </p:panelMenu>
            </h:form>
        </ui:composition>
    </body>
</html>
