<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition>
            <title><ui:insert name="title">Название по умолчанию</ui:insert></title>
            <meta name="description" content="#{description}" />
            <meta name="keywords" content="#{keywords}" />
            <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico" />
            <link rel="icon" type="image/x-icon" href="/resources/images/favicon.ico" />
            <meta name="viewport" content="width=device-width"/>
            <meta name="google-site-verification" content="9RXikAgCOr1C4q9QPO7ZshJRRqUN3lGbyV12tEMYxQw" />
            <meta name="msvalidate.01" content="5802BA6B75428EE6F2C200B0D28AC9A7" />
            <h:outputStylesheet library="styles" name="style.css" />
        </ui:composition>
    </body>
</html>
