<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">  
    <h:head>
        <ui:insert name="meta" >
            <ui:include  src="/layouts/include/meta.xhtml" />
        </ui:insert>
    </h:head>
    <h:body> 
        <div class="ui-g">
            <div class="ui-g-12 ui-md-3 ui-lg-3" >
                <div class="ui-g-12 ui-md-12 ui-lg-12" >
                    <div class="ui-g-12 ui-md-12 ui-lg-12 centered" >
                        <h:graphicImage  class="img-responsive" style="padding-top: 10px; margin: auto;" alt="best-converter" library="images" name="best-converter.png" />
                        <span class="logo">Best-Converter</span>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12" >
                    <ui:include  src="/layouts/include/header.xhtml" />
                </div>
            </div>
            <div class="ui-g-12 ui-md-9 ui-lg-9">
                <h1 class="centered"><ui:insert name="h1"></ui:insert></h1>
                <div class="ui-g-12 ui-md-12 ui-lg-12"><ui:insert name="content"></ui:insert></div>
                <div class="ui-g-12 ui-md-12 ui-lg-12 centered">
                    <ui:insert name="footer">
                        <ui:include  src="/layouts/include/footer.xhtml" />
                    </ui:insert>  
                </div>
            </div>

        </div>
    </h:body>
</html>   

