<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
          
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition>

            <h:panelGrid columns="2" cellpadding="10" >
                <p:outputLabel for="ac" value="Каналы:" />
                <p:selectOneMenu id="ac" value="#{audioFilesBean.ac}" disabled="#{audioFilesBean.files.size()==0}">
                    <f:selectItem itemLabel="2" itemValue="2" />
                    <f:selectItem itemLabel="1" itemValue="1" />
                </p:selectOneMenu>
                <p:outputLabel for="ab" value="Качество:" />
                <p:selectOneMenu id="ab" value="#{audioFilesBean.ab}" disabled="#{audioFilesBean.files.size()==0}">
                    <f:selectItem itemLabel="320 Кбит/с" itemValue="320k" />
                    <f:selectItem itemLabel="256 Кбит/с" itemValue="256k" />
                    <f:selectItem itemLabel="224 Кбит/с" itemValue="224k" />
                    <f:selectItem itemLabel="192 Кбит/с" itemValue="192k" />
                    <f:selectItem itemLabel="160 Кбит/с" itemValue="160k" />
                    <f:selectItem itemLabel="128 Кбит/с" itemValue="128k" />
                    <f:selectItem itemLabel="112 Кбит/с" itemValue="112k" />
                    <f:selectItem itemLabel="96 Кбит/с" itemValue="96k" />
                    <f:selectItem itemLabel="80 Кбит/с" itemValue="80k" />
                    <f:selectItem itemLabel="64 Кбит/с" itemValue="64k" />
                    <f:selectItem itemLabel="56 Кбит/с" itemValue="56k" />
                    <f:selectItem itemLabel="48 Кбит/с" itemValue="48k" />
                    <f:selectItem itemLabel="40 Кбит/с" itemValue="40k" />
                    <f:selectItem itemLabel="32 Кбит/с" itemValue="32k" />
                </p:selectOneMenu>
                <p:outputLabel for="ar" value="Частота:" />
                <p:selectOneMenu id="ar" value="#{audioFilesBean.ar}" disabled="#{audioFilesBean.files.size()==0}">
                    <f:selectItem itemLabel="44 100 Гц" itemValue="44100" />
                    <f:selectItem itemLabel="48 000 Гц" itemValue="48000" />
                    <f:selectItem itemLabel="32 000 Гц" itemValue="32000" />    
                </p:selectOneMenu>
            </h:panelGrid>

        </ui:composition>
    </body>
</html>
