<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition>
            <h:panelGrid columns="2" cellpadding="10">
                <p:outputLabel for="ac" value="Каналы:" />
                <p:selectOneMenu id="ac" value="#{audioFilesBean.ac}" disabled="#{audioFilesBean.files.size()==0}">
                    <f:selectItem itemLabel="2" itemValue="2" />
                    <f:selectItem itemLabel="1" itemValue="1" />
                </p:selectOneMenu>
                <p:outputLabel for="ar" value="Частота:" />
                <p:selectOneMenu id="ar" value="#{audioFilesBean.ar}" disabled="#{audioFilesBean.files.size()==0}">
                    <f:selectItem itemLabel="96 000 Гц" itemValue="96000" />
                    <f:selectItem itemLabel="88 200 Гц" itemValue="88200" />
                    <f:selectItem itemLabel="64 000 Гц" itemValue="64000" />
                    <f:selectItem itemLabel="48 000 Гц" itemValue="48000" />
                    <f:selectItem itemLabel="44 100 Гц" itemValue="44100" />
                    <f:selectItem itemLabel="32 000 Гц" itemValue="32000" />
                    <f:selectItem itemLabel="24 000 Гц" itemValue="24000" />
                    <f:selectItem itemLabel="22 050 Гц" itemValue="22050" /> 
                    <f:selectItem itemLabel="16 000 Гц" itemValue="16000" /> 
                    <f:selectItem itemLabel="12 000 Гц" itemValue="12000" />  
                    <f:selectItem itemLabel="11 025 Гц" itemValue="11025" /> 
                    <f:selectItem itemLabel="8 000 Гц" itemValue="8000" /> 
                </p:selectOneMenu>
            </h:panelGrid>  
        </ui:composition>
    </body>
</html>
