<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="/layouts/main.xhtml">
        <ui:define name="title">Ошибка</ui:define> 
        <ui:define name="content">

            <h1>Что то пошло не так(</h1>
            <h:outputText value="#{request.getParameter('error')}" />
        </ui:define> 
    </ui:composition>    
</html>    
