<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template = "/layouts/main.xhtml">
        <ui:define name = "title">Лучший конвертер аудио файлов wav, mp3, m4r, m4a, flac | Best-Converter</ui:define> 
        <ui:define name = "h1">Best-converter - конвертер аудио файлов онлайн.</ui:define>
        <ui:param  name = "description" value = "Best-converter - конвертер аудио файлов wav, mp3, m4r, m4a, flac" />
        <ui:param  name = "keywords" value = "Best-converter,конвертировать, wav, mp3, m4r, m4a, flac, онлайн, бесплатно" />
        <ui:define name="content">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <p>Бесплатный онлайн сервис для конвертирования аудио файлов. Для удобства скачивания все конвертированные файлы упаковываются в архив, позволяя экономить время.</p>
                <p>Сервис постоянно совершенствуется и улучшается, в том числе и по заявкам пользователей</p>
                <h2 class="centered">Выбор конвертера:</h2>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <h3 class="centered">Конвертировать из wav:</h3>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/wavtomp3.xhtml" title="конвертировать wav в mp3" ><h:graphicImage library="images" alt="конвертировать wav в mp3" title="конвертировать wav в mp3" name="wavtomp3.png" /></h:outputLink>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/wavtoflac.xhtml" title="конвертировать wav в flac" ><h:graphicImage library="images" alt="конвертировать wav в flac" title="конвертировать wav в flac" name="wavtoflac.png" /></h:outputLink>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/wavtom4a.xhtml" title="конвертировать wav в m4a" ><h:graphicImage library="images" alt="конвертировать wav в m4a" title="конвертировать wav в m4a" name="wavtom4a.png" /></h:outputLink>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/wavtom4r.xhtml" title="конвертировать wav в m4r" ><h:graphicImage library="images" alt="конвертировать wav в m4r" title="конвертировать wav в m4r" name="wavtom4r.png" /></h:outputLink>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <h3 class="centered">Конвертировать из flac:</h3>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/flactomp3.xhtml" title="конвертировать flac в mp3" ><h:graphicImage library="images" alt="конвертировать flac в mp3" title="конвертировать flac в mp3" name="flactomp3.png" /></h:outputLink>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/flactowav.xhtml" title="конвертировать flac в wav" ><h:graphicImage library="images" alt="конвертировать flac в wav" title="конвертировать flac в wav" name="flactowav.png" /></h:outputLink>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/flactom4a.xhtml" title="конвертировать flac в m4a" ><h:graphicImage library="images" alt="конвертировать flac в m4a" title="конвертировать flac в m4a" name="flactom4a.png" /></h:outputLink>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/flactom4r.xhtml" title="конвертировать flac в m4r" ><h:graphicImage library="images" alt="конвертировать flac в m4r" title="конвертировать flac в m4r" name="flactom4r.png" /></h:outputLink>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <h3 class="centered">Конвертировать из m4a:</h3>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/m4atomp3.xhtml" title="конвертировать m4a в mp3" ><h:graphicImage library="images" alt="конвертировать m4a в mp3" title="конвертировать m4a в mp3" name="m4atomp3.png" /></h:outputLink>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <h3 class="centered">Конвертировать из mp3:</h3>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/mp3tom4a.xhtml" title="конвертировать mp3 в m4a" ><h:graphicImage library="images" alt="конвертировать mp3 в m4a" title="конвертировать mp3 в m4a" name="mp3tom4a.png" /></h:outputLink>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2 centered">
                    <h:outputLink value="/mp3tom4r.xhtml" title="конвертировать mp3 в m4r" ><h:graphicImage library="images" alt="конвертировать mp3 в m4r" title="конвертировать mp3 в m4r" name="mp3tom4r.png" /></h:outputLink>
                </div>
            </div>
        </ui:define>    
    </ui:composition>
</html>    
