<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template = "/layouts/main.xhtml">
        <ui:define name = "title">Конвертировать ogg в mp3 онлайн | Best-Converter</ui:define> 
        <ui:define name = "h1">Конвертировать ogg в mp3 онлайн</ui:define>
        <ui:param  name = "description" value = "Конвертировать ogg в mp3 онлайн" />
        <ui:param  name = "keywords" value = "конвертировать, ogg, mp3, онлайн" />
        <ui:param  name = "from" value = "ogg" />
        <ui:param  name = "to" value = "mp3" />
        <ui:param  name = "allow" value = "/(\.|\\/)(ogg)$/" />
        <ui:define name="content">
            <ui:insert name="audio" >
                <ui:include  src="/layouts/include/audio.xhtml" />
            </ui:insert> 
        </ui:define>      
    </ui:composition>    
</html>    
