<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template = "/layouts/main.xhtml">
        <ui:define name = "title">Контакты | Best-Converter</ui:define> 
        <ui:define name = "h1">Контакты</ui:define>
        <ui:param  name = "description" value = "Контакты по воспросам улучшения сервиса, сотрудничества" />
        <ui:param  name = "keywords" value = "контакты, улучшение сервиса, сотрудничество" />
        <ui:define name="content">
           <p>Есть вопросы? Нужна консультация? Свяжитесь с нами!</p>
           <p>email: rzubakov@protonmail.com</p>
           <p>тел: 8 (495) 769-93-66</p>
        </ui:define>
    </ui:composition>    
</html>    
