<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template = "/layouts/main.xhtml">
        <ui:define name = "title">Конвертировать wav в m4r онлайн | Best-Converter</ui:define> 
        <ui:define name = "h1">Конвертировать wav в m4r онлайн</ui:define>
        <ui:param  name = "description" value = "Конвертировать wav в m4r онлайн" />
        <ui:param  name = "keywords" value = "конвертировать, wav, m4r, онлайн" />
        <ui:param  name = "from" value = "wav" />
        <ui:param  name = "to" value = "m4r" />
        <ui:param  name = "allow" value = "/(\.|\\/)(wav)$/" />
        <ui:define name="content">
            <ui:insert name="audio" >
                <ui:include  src="/layouts/include/audio.xhtml" />
            </ui:insert> 
        </ui:define>     
    </ui:composition>    
</html>    
