/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.12.2017, 16:22:15
    Author     : rzubakov
*/
body,html{
    margin: 0;
    padding: 0;  

}

.nopadding{
    padding: 0!important;
}

.centered{

    text-align: center;
}

.ui-widget, .ui-widget-header {
    font-family: Calibri, sans-serif!important;
    font-weight: normal!important;

}

.steps{
    font-weight: bold;
}

.ui-menuitem-link{

}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}


.logo{
    font-size: 23px;
    color: #8F8F8F;
}